<% stack = Array.new %>
<% stack.push link_to "Fireworks", tags_path %>
<% stack.push link_to "Servers", licservers_path %>
<% stack.push @licserver.port.to_s + '@' + @licserver.server %>
<%= generate_header(stack) %>
<p id="notice"><%= notice %></p>

<div class="page-header"><h1>Information</div>
<div class="">
  <h2>General Info</h2>
  <dl class="dl-horizontal">
    <dt>Created</dt>
    <dd><%= @licserver.created_at.localtime %></dd>
    <dt>Last Update</dt>
    <dd><%= @licserver.updated_at.localtime %></dd>
  </dl>
</div>
<div class="">
  <h2>Features</h2>
  <% if !@features.nil? then %>
  <div class="">
    <p>More info <%= link_to 'here', licserver_features_path(params[:id]) %></p>
    <p>Analysis <%= link_to 'here', licserver_analysis_path(params[:id]) %></p>
  </div>
  <% end %>
  <div class="well well-large">
  <% if @features.nil? then %>
    <p>No Features</p>
  <% else %>
   <p> 
        <% @features.each do |feat| %>
              <%= link_to feat[:name], licserver_feature_path(params[:id],feat[:name]), :class=>'btn btn-large' %>
        <% end %>
    </p>
  <% end %>
  </div>
</div>
<div class="">
  <h2>Tags<h2>
  <div class="well">
    <% if @tags.size == 0 then %>
      <span class="label label-warning">No Tags</span>
    <% else %>
      <% @tags.each do |thistag| %>
        <%= link_to thistag.title,tag_path(thistag.title.to_s), :class=>'btn btn-mini' %><%= link_to "×",tag_path(thistag.id), :method => :delete , :confirm => 'Are you sure?'%>
      <% end %> 
    <% end %>
  </div>
  <div class="">
    <h3>Add New Tag</h3>
    <p> 
      <%= form_for([@licserver,@licserver.tags.build], :html=>{ :class=>'form-inline'}) do |t| %>
        <%= t.text_field :title %> <%= t.submit "Create Tag", :class=>'btn btn-primary' %>
      <% end %> 
    </p>
    <p>
      <%= link_to 'Edit', edit_licserver_path(@licserver), :class=>'btn btn-small' %>
      <%= link_to 'Back', licservers_path, :class=>'btn btn-small' %>
    </p>
  </div>
</div>
<div class="">
  <h2>Settings</h2>
  <div class="">
    <a href="#settingsModal" role="button" class="btn" data-toggle="modal">Settings</a>
  </div>
</div>


<div id="settingsModal" class="modal hide face" tabindex="-1" role="dialog">
  <%= form_tag licserver_update_settings_path(@licserver) do %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Licserver Settings</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <%= check_box_tag 'monitorIdle', 'monitorIdle', @licserver.monitor_idle %> Monitor this server for idle users
        </label>
          When this is activated, it will:-
        <ul>
          <li>Kill unregistered user every 30 minutes</li>
          <li>Kill idle registered user after 120 minutes of idle time</li>
        <ul>
      </div>
      <div class="controls">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
    <%= submit_tag 'Update Settings', :class=>'btn btn-primary' %>
  </div>
  <% end %>
</div>
