.licserver-info
	.page-header
		%h4 Information
	.links
		= link_to fa_icon('link', :text => 'Permalink' ), licserver_path(licserver), { :class => 'btn' }
	%ul.thumbnails
		%li
			%dl
			%dt Created
			%dd
				= licserver.created_at.localtime
			%dt Last Update
			%dd
				= licserver.updated_at.localtime
.features{ :id => 'licserver-' + licserver.id.to_s + '-features' }
	.page-header
		%h4 Features
	.licserver-more-info
		= link_to fa_icon('info',:text => 'More Info'), licserver_features_path(licserver.id) , :class => 'btn' 
		= link_to fa_icon('bar-chart-o', :text => 'Analysis'), licserver_analysis_path( licserver.id) , :class => 'btn'
	%br
	.feature-listings
		%i.fa.fa-spinner.fa-spin.fa-4x
		.accordion{ :id => 'licserver-' + licserver.id.to_s + '-features-listing' }
