<% stack = Array.new %>
<% stack.push link_to "Fireworks", tags_path %>
<% stack.push "Servers" %>
<%= generate_header(stack) %>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Port@host</th>
        <th>Idle Monitor?</th>
        <th>Created</th>
        <th>Delete?</th>
      </tr>
    </thead>  
    <tbody>
      <% if @licservers.empty? then %>
        <tr>
          <td colspan="4">No Servers Yet</td>
        </tr>
      <% else %>
        <% @licservers.each do |licserver| %>
          <% fullname=licserver.port.to_s+'@'+licserver.server %>
          <tr>
            <td>
              <%= link_to fullname, licserver %> 
              <%= licserver.tags.empty? ? '<span class="label label-warning">No Tags</span>'.html_safe : '' %> 
              <%= licserver.to_delete ? '<span class="label label-important">Deleting</span>'.html_safe : '' %>
            </td>
            <td><%= licserver.monitor_idle %></td>
            <td><%= licserver.created_at.localtime %></td>
            <td><%= link_to 'Delete', licserver, :class=>'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="span6 offset3">
  <%= link_to 'New Licserver', new_licserver_path, :class=>'btn btn-primary btn-block' %>
</div>
