.licserver-info
	.page-header
		%h4 Information
	%ul.thumbnails
		%li
			%dl
			%dt Created
			%dd
				= licserver.created_at.localtime
			%dt Last Update
			%dd
				= licserver.updated_at.localtime
.features{ :data => { :licserver => licserver.id } , :id => 'licserver-' + licserver.id.to_s + '-features' }
	.page-header
		%h4 Features
	.licserver-more-info
		= link_to fa_icon('info',:text => 'More Info'), licserver_features_path(licserver.id) , :class => 'btn btn-default' 
		= link_to fa_icon('bar-chart-o', :text => 'Analysis'), licserver_analysis_path( licserver.id) , :class => 'btn btn-default'
	%br
	.feature-listings
		%i.fa.fa-cog.fa-spin.fa-4x
		.panel-group{ :id => 'licserver-' + licserver.id.to_s + '-features-listing' }
.tags
	.page-header
		%h4 Tags
	.well.tags-well
		- if licserver.tags.size == 0 then
			%span.label.label-warning No Tags
		- else
			- licserver.tags.each do |tag|
				= link_to tag.title, tag_path(tag.title), :class => 'btn btn-default btn-mini tags', :data => { :id => tag.id, :'tag-title' => tag.title, }
.edit-server
	.page-header
		%h4 Action
	%button.btn.btn-primary#edit-licserver{ :data => { :id => licserver.id, :toggle => 'modal', 
		:target => '#licserver-modal-' + licserver.id.to_s } } 
		= fa_icon('edit')
		Edit
	= link_to fa_icon('ban', :text => 'Delete'), licserver, :class => 'btn btn-danger', :method => :delete, 
		:data => { :remote => true, :confirm => 'Really delete?' }
	.modal.fade{ :role => 'dialog', :id => 'licserver-modal-' + licserver.id.to_s }
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{ :type => 'button', :data => { :dismiss => 'modal' } } &times;
					%h3.modal-title Update Licserver
				.modal-body
					= render :partial => 'form.html', :locals => { :licserver => licserver }
				.modal-footer
					%button.btn.btn-default{ :data => { :dismiss => 'modal' } } Close
					%button.btn.btn-primary.update-licserver{ :data => { :id => licserver.id } } Update
