- content_for :head do
  = "#{@licserver.get_port_at_server} -"
.container{:style => "margin-top:70px;"}
  .row
    .col-xs-12
      %ol.breadcrumb
        %li.active #{ @licserver.get_port_at_server }
    .col-xs-12
      = render :file => "licservers/show.template.haml"
= render :file => "layouts/modal.template"
:javascript
  console.log('setup collapse on individual page');
  $(document).find('.collapse').each( function(){
    if($(this).attr('data-load-target') == null){
      setup_collapse($(this));
    } else {
      setup_collapse($(this), $(this).attr('data-load-target'));
    };
  });
