- stack = Array.new 
- stack.push link_to "Fireworks", tags_path 
- stack.push link_to "Servers", licservers_path 
- stack.push @licserver.port.to_s + '@' + @licserver.server 
- generate_header(stack) 

%p.notice
  = notice

.row
  .page-header
    %h1 
      = @licserver.port.to_s + '@' + @licserver.server
.row
  %h2 General Info
  %dl.dl-horizontal
    %dt Created
    %dd 
      = @licserver.created_at.localtime
    %dt Last Update
    %dd
      = @licserver.updated_at.localtime
.row
  %h2 Features
  %p
    = link_to fa_icon('info',{:text => 'More Info'}), licserver_features_path(params[:id]), :class => 'btn'
    = link_to fa_icon('bar-chart-o', { :text => 'Analysis' }), licserver_analysis_path(params[:id]), :class => 'btn'
  .well.well-large
    - if @features.nil? then
      %p No Features
    - else
      %p
        - @features.each do |feat|
          = link_to feat[:name], licserver_feature_path(params[:id], feat[:name]), :class => 'btn btn-large' 
.row
  %h2 Tags
  .well
    - if @tags.size == 0 then
      %span.label.label-warning No Tags
    - else
      - @tags.each do |tag|
        = link_to tag.title, '#', :class => 'btn btn-mini tags', :data => { :id => tag.id, :'tag-title' => tag.title, }
        = link_to 'X', tag_path(tag.id), :method => :delete, :confirm => 'Are You sure?'
  .row
    .span12
      %h3 Add New Tag
      %p
        = form_for([@licserver, @licserver.tags.build], :html => { :class => 'form-inline' }) do |t| 
          = t.text_field :title
          = t.submit 'Create Tag', :class => 'btn btn-primary'

.row
  %h2 Settings
  %p
    %a.btn{ :href => '#settingsModal', :role => 'button', :data => { :toggle => 'modal' } } Settings

.modal.hide.face#settingsModal{ :tabindex => '-1', :role => 'dialog' }
  = form_tag licserver_update_settings_path(@licserver) do
    .modal-header
      %button.close{ :type => 'btn', :data => { :dismiss => 'modal' } } X
    .modal-body
      .control-group
        .controls
          %label.checkbox
            = check_box_tag 'monitorIdle', 'monitorIdle', @licserver.monitor_idle
            Monitor this server for idle Users
          When this is activated, it will:
          %ul
            %li Kill unregistered users every 30 minutes
            %li Kill idle registered users after 120 minutes of idle time
        .controls
    .modal-footer
      %button.btn{ :data => { :dismiss => 'modal' } } Close
      = submit_tag 'Update Settings', :class => 'btn btn-primary'
