- random_id = SecureRandom.hex(6)
.list-group-item
  %a.btn.btn-secondary{:target => "_blank", :href => licserver_path(params[:id]) }
    %i.fa.fa-external-link
  %a.btn.btn-secondary{ :href => '#' }
    %i.fa.fa-refresh
%a.list-group-item{ :'data-toggle' => 'collapse', :href => "#summary-#{random_id}" } Summary
.collapse.summary-collapse{ :id => "summary-#{random_id}", :data => { :plsload => 'yes', :source => licserver_summary_path(params[:id], :format => :template)} }
  .list-group-item
    %i.fa.fa-cog.fa-spin.fa-2x
- @licserver.feature_headers.where{ last_seen.gt 1.week.ago }.each do |feature|
  - collapse_id = "b-#{SecureRandom.hex(6)}"
  %h5{ :style => "margin-bottom:0px; "}
    %a.list-group-item{ :href => "##{collapse_id}", :'data-toggle' => 'collapse', :style => "background-color: #CEEBFB;"} #{ feature.name }
  .collapse.feature-collapse{ :id => collapse_id,
    :data => { :content => 'graph', :plsload => 'yes', :source => licserver_feature_path( @licserver, feature.name, :format => :template)} }
    .list-group-item{ :id => "graph-#{collapse_id}", :data => { :licserver => @licserver.id, :feature => feature.name } }
      %i.fa.fa-cog.fa-spin.fa-2x
