%h2.page-header 
	Sign In
	- if ENV['devise_check_group'] then
		%small
			Only #{ENV['devise_req_groups'].split(',').first.split('=').last} group members shall pass

= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'form-horizontal' } ) do |f| 
	.control-group
		= f.label :domain, :class => 'control-label'
		.controls
			= select_tag "ads_user[domain]", options_for_select(eval(ENV['devise_ldap_domains']))
	.control-group
		= f.label :login , :class => 'control-label'
		.controls
			= f.text_field :login, autofocus: true , :placeholder => "Your Login"
			

	.control-group
		= f.label :password , :class => 'control-label'
		.controls
			= f.password_field :password, autocomplete: "off", :placeholder => "Your Password" 

	.control-group
		.controls
			- if devise_mapping.rememberable? 
				%label.checkbox{ :for => 'ads_user_remember_me' }
					= f.check_box :remember_me 
					Remember Me
	.form-actions
		= f.submit "Sign in", :class => 'btn' 

