.page-header
	%h1 Report Schedule
.row
	.col-xs-12
		.panel-group#schedule-accordion
			- @schedules.each do |schedule|
				.panel.panel-default{ :id => false, :data => { :id => schedule.id } }
					.panel-heading{ :role => 'tab' }
						%h4.panel-title
							= link_to schedule.title, '#schedule' + schedule.id.to_s, 
								:data => { :toggle => 'collapse', :parent => '#schedule-accordion', :setup => 'false', :'report-schedule' => schedule.id }, 
								:class => 'accordion-toggle schedule-title'
					.panel-collapse.collapse{ :id => 'schedule' + schedule.id.to_s, :data => { :id => schedule.id } }
						.panel-body
							.info-title
								%h4 Infomation
							.info
								= watch_icon( {:user => current_ads_user, :model_type => 'ReportSchedule', :model_id => schedule.id, :class => 'btn btn-default', :text => true })
								= link_to fa_icon('link', { :text => 'Permalink' }), report_schedule_path(schedule), :class => 'btn btn-default'
							.loading-report
								= fa_icon('cog spin 4x')
			#new-schedule-group{ :style => 'display:none;' }
.row
	.col-xs-12
		%button.btn.btn-large.btn-primary#new-schedule-modal-btn{ :data => { :toggle => 'modal', :target => '#new-schedule-modal' } } New Schedule
		.modal.fade#new-schedule-modal{ :tabindex => -1, :role => 'dialog' }
			.modal-dialog.modal-lg
				.modal-content
					.modal-header
						%button.close{ :type => 'button', :data => { :dismiss => 'modal' } }
							%span{ :aria => { :hidden => 'true' } } &times;
						%h4.modal-title New Report Schedule
					.modal-body
						= render :template => 'report_schedules/show.template', :locals => { :@schedule => ReportSchedule.new }
					.modal-footer
						%button.btn.btn-default{ :type => 'button', :data => { :dismiss => 'modal' } } Close
						%button.btn.btn-primary.new-schedule-button{ :type => 'button', :disabled => 'disabled' } Create
