<%= form_for(@watch_list) do |f| %>
  <% if @watch_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watch_list.errors.count, "error") %> prohibited this watch_list from being saved:</h2>

      <ul>
      <% @watch_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ads_user %><br />
    <%= f.text_field :ads_user %>
  </div>
  <div class="field">
    <%= f.label :model_type %><br />
    <%= f.text_field :model_type %>
  </div>
  <div class="field">
    <%= f.label :model_id %><br />
    <%= f.number_field :model_id %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
