<p id="notice"><%= notice %></p>

<p>
  <b>Ads user:</b>
  <%= @watch_list.ads_user %>
</p>

<p>
  <b>Model type:</b>
  <%= @watch_list.model_type %>
</p>

<p>
  <b>Model:</b>
  <%= @watch_list.model_id %>
</p>

<p>
  <b>Note:</b>
  <%= @watch_list.note %>
</p>


<%= link_to 'Edit', edit_watch_list_path(@watch_list) %> |
<%= link_to 'Back', watch_lists_path %>
