.card
  .card-block
    - if !@user.ads_user.nil? then
      %h5.card-title #{@user.ads_user.name}
    - else
      %h5.card-title #{@user.name}
  %ul.list-group.list-group-flush
    - if @user.ads_user.nil? then
      %li.list-group-item Last seen at #{@user.last_seen_at}
    - else
      %li.list-group-item #{mail_to @user.ads_user.email }
      %li.list-group-item #{@user.ads_user.title || "Unknown Position" }
      %li.list-group-item #{@user.ads_user.ads_department.name || "No Department"}
      %li.list-group-item #{@user.ads_user.ads_department.company_name || "No Company"}
      %li.list-group-item Last seen at #{@user.last_seen_at}
