.card
  .card-block
    - if !@user.ads_user.nil? then
      %h5.card-title #{@user.ads_user.name}
      %ul.list-group.list-group-flush
        %li.list-group-item
          %a.btn.btn-secondary{ :href => user_path(@user), :target => "_blank"}
            %i.fa.fa-external-link
        %li.list-group-item #{@user.ads_user.email }
        %li.list-group-item #{@user.ads_user.ads_department.name}
        %li.list-group-item #{@user.ads_user.ads_department.company_name}
        %li.list-group-item Last seen at #{@user.last_seen_at}
    - else
      %h5.card-title #{@user.name}
      .card-text
        %p Last seen at #{@user.last_seen_at}
