<div class="row-fluid">
  <h1>The Dash</h1>
</div>

<div class="row-fluid">
  <div class="accordion" id="dash">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#dash" href="#lic-dash">Licserver</a>
      </div>
      <div id="lic-dash" class="accordion-body collapse in">
        <div class="accordion-inner">
          <table class="table table-bordered table-striped table-hover">
            <caption>Top usage for the past 7 days</caption>
            <thead>
              <tr>
                <th>Server</th>
                <th>Feature Name</th>
                <th>Usage Percent</th>
              </tr>  
            </thead>
            <tbody>  
              <% @trends.each do |t| %>
                <tr>
                  <td><%= link_to t[:port].to_s + '@' + t[:server], licserver_path(t[:id])  %></td>
                  <td><%= link_to t[:name], licserver_feature_path(t[:id], t[:name]) %></td>
                  <td><%= number_to_percentage(t[:usage]*100) %></td>
                </tr>
              <% end %>
            </tbody>  
          </table>
          Detailed Report: 
          <%= link_to 'Last 30 Days', dash_report_path('licserver', :days_ago => 30) , :class=> 'btn btn-info' %>
          <%= link_to 'Last 90 Days', dash_report_path('licserver', :days_ago => 90) , :class=> 'btn btn-info' %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#dash" href="#server-dash">Servers</a>
      </div>
      <div id="server-dash" class="accordion-body collapse">
        <div class="accordion-inner">
          Insert server stats here
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#dash" href="#storage-dash">Storage</a>
      </div>
      <div id="storage-dash" class="accordion-body collapse">
        <div class="accordion-inner">
          Insert storage stats here
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#dash" href="#oracle-dash">Oracle</a>
      </div>
      <div id="oracle-dash" class="accordion-body collapse">
        <div class="accordion-inner">
          Insert oracle stats here
        </div>
      </div>
    </div>
  </div>
</div>
