<h1>Monthly report for <%= params[:mode] %></h1>

<p>put the damn report here</p>
<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped table-hover">
      <caption>Top 40 features</caption>
      <thead>
        <tr>
          <th>Server</th>
          <th>Feature Name</th>
          <th>Usage Percent</th>
        </tr>  
      </thead>
      <tbody>  
        <% @top_trends.each do |t| %>
          <tr>
            <td><%= link_to t[:port].to_s + '@' + t[:server], licserver_path(t[:id])  %></td>
            <td><%= link_to t[:name], licserver_feature_path(t[:id], t[:name]) %></td>
            <td><%= number_to_percentage(t[:usage]*100) %></td>
          </tr>
        <% end %>
      </tbody>  
    </table>
  </div>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-bordered table-striped table-hover">
      <caption>Bottom 40 features</caption>
      <thead>
        <tr>
          <th>Server</th>
          <th>Feature Name</th>
          <th>Usage Percent</th>
        </tr>  
      </thead>
      <tbody>  
        <% @bottom_trends.each do |t| %>
          <tr>
            <td><%= link_to t[:port].to_s + '@' + t[:server], licserver_path(t[:id])  %></td>
            <td><%= link_to t[:name], licserver_feature_path(t[:id], t[:name]) %></td>
            <td><%= number_to_percentage(t[:usage]*100) %></td>
          </tr>
        <% end %>
      </tbody>  
    </table>
  </div>
</div>
