.form-group
  %fieldset.form-group
    %input.form-control{ :type => "text", :placeholder => "Search..." }
.card-columns
  - @tags.each do |tag|
    .card
      .card-block
        %h4.card-title #{tag[:title]}
      .list-group.list-group-flush
        - tag[:licservers].each do |licserver|
          - target = "a-#{SecureRandom.hex(6)}";
          %a.list-group-item{ :href => "##{target}", :'data-toggle' => "collapse" }
            %strong #{licserver.get_port_at_server}
          .collapse.licserver-collapse{ :id => "#{target}",
            :data => { :licserver => licserver.id , :source => licserver_path(licserver.id, :format => :template), :plsload => 'yes' } }
            .list-group-item
              %p
                %i.fa.fa-cog.fa-spin.fa-2x
