.form-group
  %fieldset.form-group
    %input.form-control{ :type => "text", :placeholder => "Search..." }
.row
  - @tags.each do |tag|
    .col-xl-6.col-lg-12.col-sm-12
      .card
        .card-block
          %h3.card-title #{tag[:title]}
        .list-group.list-group-flush
          - tag[:licservers].each do |licserver|
            - target = "a-#{SecureRandom.hex(6)}";
            %h4
              %a.list-group-item{ :href => "##{target}", :'data-toggle' => "collapse" } #{licserver.get_port_at_server}
            .collapse.licserver-collapse{ :id => "#{target}",
              :data => { :licserver => licserver.id , :source => licserver_path(licserver.id, :format => :template), :plsload => 'yes' } }
              .list-group-item
                %p
                  %i.fa.fa-cog.fa-spin.fa-2x
.modal.fade#nuke-em-modal{ :tabindex => '-1', :role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ :type => 'button', :'data-dismiss' => 'modal'}
          %span &times;
        .modal-title
          %h4#nuke-em-title Nuke-Em
      .modal-body
        <strong>Warning:</strong> This action will kill everyone that using this feature. To confirm you really want to do this, please type the name of the feature in the input box below
        = form_tag '#' do
          %fieldset.form-group
            %input.form-control#nuke-em-sanity-check{ :type => 'text', :placeholder => 'Feature Name' }
        #nuke-em-status
      .modal-footer
        %button.btn.btn-secondary{ :type => 'button', :'data-dismiss' => 'modal'} Close
        %button.btn.btn-danger#nuke-em{ :type => 'button', :data => { :url => '', :feature => '', :random => ''} } Nuke-em
.modal.fade#mail-modal{ :tabindex => '-1', :role => 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ :type => 'button', :'data-dismiss' => 'modal'}
          %span &times;
        .modal-title
          %h4 Message
      .modal-body
        %p Mail Dialog Here
      .modal-footer
        %button.btn.btn-secondary{ :type => 'button', :'data-dismiss' => 'modal'} Close
        %button.btn.btn-primary{ :type => 'button'} Send Message
:javascript
  $('#nuke-em-modal').on('show.bs.modal', function(e){
    //console.log( 'called by ' + $(e.relatedTarget).attr('id') );

    //setup to nuke-em
    $(this).find('#nuke-em-title').text("Nuke " + $(e.relatedTarget).data('feature') + " users");
    $('#nuke-em').attr('data-url', $(e.relatedTarget).data('kill-path') );
    $('#nuke-em').attr('data-feature', $(e.relatedTarget).data('feature') );
    $('#nuke-em').attr('data-random', $(e.relatedTarget).data('random') );
  });

  $('#nuke-em').click( function(){
      //sanity check before killing users
      console.log('nuke ' + $(this).data('feature') + ' users');

      if ( $(this).data('feature') == $('#nuke-em-sanity-check').val() ) {
        console.log('start nukeing people');
      } else {
        console.log('error: did not match');
      }
  });
