<% stack = Array.new %>
<% stack.push link_to "Fireworks", tags_path %>
<% stack.push link_to "Servers", licservers_path %>
<% stack.push link_to @licserver.port.to_s + '@' + @licserver.server, licserver_path(params[:licserver_id]) %>
<% stack.push link_to "Features", licserver_features_path(params[:licserver_id]) %>
<% stack.push @feature.name + ' Usage' %>
<%= generate_header(stack) %>
<div>
  <div>
    <div id="graph_usage"><%= render "features/graph_usage" %></div>
    <div>
        All: 
        <%= link_to "XML",
          licserver_feature_path(params[:licserver_id],params[:id],:format => :xml),
          :class=>'btn btn-mini' %>
        <%= link_to "JSON",
          licserver_feature_path(params[:licserver_id],params[:id],:format => :json ),
          :class=>'btn btn-mini' %>
    </div>
    <div>
        Monthly Frequency Stats:
        All Hours (<%= link_to "XML",
          licserver_feature_monthly_path(params[:licserver_id],params[:id], :format => :xml),
          :class=>'btn btn-mini' %>
        <%= link_to "JSON",
          licserver_feature_monthly_path(params[:licserver_id],params[:id], :format => :json),
          :class=>'btn btn-mini' %>)
        Office Hours (<%= link_to "XML",
          licserver_feature_monthly_path(params[:licserver_id],params[:id], :format => :xml, 
            :office_hours => 'yes'),
          :class=>'btn btn-mini' %>
        <%= link_to "JSON",
          licserver_feature_monthly_path(params[:licserver_id],params[:id], :format => :json, 
            :office_hours => 'yes'),
          :class=>'btn btn-mini', :office_hours => 'yes' %>)
    </div>
  </div>
  <div>
    Last Graph update: <%= Time.now.to_formatted_s(:long) %>
  </div>
  <div>
    Last data update: <%= @feature.created_at.to_time.localtime.to_formatted_s(:long) %>
  </div>
</div>

<div>
  <table class="table table-striped table-hover">
    <caption>Current Users (<%= @users.each_line.entries.size %>)</caption>
    <thead>
      <tr>  
        <th>User Info</th>
        <th class="pull-right">Kill?</th>
      </tr>
    </thead>
    <tbody>
    <% if @users.empty? then %>
      <tr><td colspan="2">No users</td></tr>
    <% else %>
      <% @users.each_line do |user| %>
        <% user_s = user.split %>
          <tr>
            <td>
              <% user_id = User.where(:name => user_s[0]).first %>
              <%= link_to user_s[0], user_id.nil? ? '#' : user_path(user_id) %>
                @<%= user_s[1] %> since <%= user_s[5] %>, <%= user_s[4] %>
              <%= user_s.length > 6 ? "("+user_s[6].to_s+" licenses)" : "" %>
            </td>
            <td>
              <%= link_to "×",licserver_feature_kill_path(params[:licserver_id] ,
                params[:id], :handle => user_s[3], 
                  :host_id => user_s[2].split("/")[0], 
                  :port_id => user_s[2].split("/")[1] ), 
                :class=>'close' %>
            </td>
          </tr>
      <% end %>
    <% end %> 
    </tbody>
  </table>
</div>
