.row
	.col-xs-12
		%ol.breadcrumb
			%li #{ link_to 'Fireworks', tags_path }
			%li #{ link_to 'Servers', licservers_path }
			%li #{ link_to @licserver.port.to_s + '@' + @licserver.server, licserver_path( @licserver.id ) } 
			%li.active Features
.row
	.col-xs-12
		.well.well-large
			- if @features.nil? then 
				%p No Features detected...
			- else 
				- @features.each do |f| 
					= link_to f.name,licserver_feature_path(@licserver.id ,f.name), :class=>'btn btn-default' 
.row
	.col-xs-12
		%table.table.table-striped.lic-info-table{ :data => { :id => @licserver.id } }
			%caption Extended Features Info
			%thead
				%tr
					%th Name
					%th Version
					%th Seats
					%th Expires
					%th Deamon
				%tbody
					%tr.loading
						%td{ :colspan => "5" } 
							%i.fa.fa-cog.fa-4x.fa-spin

.row
	.col-xs-12
		= render 'graph_summary'
