- content_for :head do
  = " #{params[:id]} in #{@licserver.get_port_at_server} -"
.container{:style => "margin-top:70px;"}
  .row
    .col-xs-12
      %ol.breadcrumb
        %li
          %a{ :href => licserver_path(@licserver) } #{ @licserver.get_port_at_server }
        %li.active #{ params[:id]}
    .col-xs-12
      = render :file => "features/show.template.haml"
:javascript
  console.log('setup collapse on individual page');
  $(document).find('.collapse').each( function(){
    if($(this).attr('data-load-target') == null){
      setup_collapse($(this));
    } else {
      setup_collapse($(this), $(this).attr('data-load-target'));
    };
  });
