.row
	.col-xs-12
		%ol.breadcrumb
			%li #{ link_to 'Fireworks', tags_path }
			%li #{ link_to 'Servers', licservers_path }
			%li #{ link_to @licserver.port.to_s + '@' + @licserver.server, licserver_path( params[:licserver_id] ) } 
			%li #{ link_to 'Features', licserver_features_path(params[:licserver_id]) }
			%li.active #{ params[:id] } Usage
.row
	.span12
		.page-header
			%h2 
				- if ads_user_signed_in? then
					= link_to fa_icon(@watched.nil? || !@watched.active ? 'star-o' : 'star'), 
						ads_user_toggle_watch_path(:ads_user_id => current_ads_user.login, :model_type => 'FeatureHeader', :model_id => @feature.id), 
						:method => :post, :data => { :remote => true }, :id => 'watchlist'
				= params[:id]
.row
	.span12
		= render :template => "features/show.template"
