- reports.each do |report|
  %tr
    %td
      = link_to report.id, report_schedule_report_path(report.report_schedule_id, report.id) 
    %td
      = report.status
    %td
      = report.created_at.localtime
    %td
      = link_to 'xml', report_schedule_report_path(report.report_schedule_id, report.id, :format => :xml), :class => 'btn btn-mini'
      = link_to 'csv', report_schedule_report_path(report.report_schedule_id, report.id, :format => :csv), :class => 'btn btn-mini'
