<div class="page-header">
  <h1><%= @schedule.title %></h1>
</div>

<div class="row">
  <div class="span12">
    <table class="table">
      <thead>
        <tr><th>Attribute</th><th>Value</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>Schedule</td>
          <td><%= @schedule.schedule %></td>
        </tr>
        <tr>
          <td>Monitored Licservers</td>
          <td><%= Licserver.find(YAML::load(@schedule.monitored_obj).keys.map{ |x| x.to_s }).map { |x| link_to(x.port.to_s + '@' + x.server, licserver_path(x.id) ) }.join(',').html_safe %></td>
        </tr>
        <tr>
          <td>Time Scope</td>
          <td><%= @schedule.time_scope %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="span12 form-actions">
    <%= link_to 'Back', '#', :class => 'btn btn-success' %>
    <%= link_to 'Edit', '#', :class => 'btn btn-warning' %>
    <%= link_to 'Delete', '#', :class => 'btn btn-danger' %>
  </div>
</div>
