<div class="row">
  <div class="span12 page-header">
    <h1>Create a new report</h1>
  </div>
</div>
<div class="row">
  <div class="span12">
    <!-- form to create new schedule -->
    <%= form_tag reports_schedule_create_path , :class=> 'form-horizontal', :method => :post do  %>
      <div class="control-group">
        <%= label_tag 'schedule_name', 'Schedule Name:', :class=>'control-label' %>
        <div class="controls">
          <%= text_field_tag 'schedule_name', nil , :placeholder => 'Report Name', :class=> 'input' %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag 'do_when', 'Do this report:', :class=>'control-label' %>
        <div class="controls">
          <%= select_tag 'do_when', options_for_select(['Once Off', 'Daily', 'Weekly', 'Monthly'], 'Once Off') %>
        </div>
        <div class="controls" id="report_Hz">
        </div>
      </div>
      <div class="control-group">
        <%= label_tag 'licserver_monitor', 'Licserver to Monitor:', :class => 'control-label' %>
        <div class="controls">
          <%= select_tag 'tags_select', 
            options_from_collection_for_select( Tag.select( :title ).uniq.order(:title), 'title', :title ) 
          %>
          <%= select_tag 'licserver_to_monitor_select' %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag 'time_scope', 'Time Scope:', :class => 'control-label' %>
        <div class="controls">
          <%= select_tag 'time_scope_select', 
            options_for_select(['Yesterday', 'Last Week', 'Last Month'], 'Last Week') %>
        </div>
      </div>
      <div class="form-actions">
        <%= button_tag 'New Report',  :type=> 'submit', :class=> 'btn btn-primary' %>
        <%= link_to 'Cancel', reports_path, :class=>'btn' %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :other_javascript do %>
<script type="text/javascript">
  $(document).ready(function(){
    console.log('document loaded');

    //get the value and servers that are associated w/ it
    var getLicservers = function() { 
      $.getJSON( '/tags/' + $('#tags_select').val(), function(data){
        //clear and repopulate 
        $('#licserver_to_monitor_select').find('option').remove().end();
        $.each( data, function(key, value){
          $('#licserver_to_monitor_select')
            //TODO: handle value.port is null
            .append('<option value="' + value.id + '">' + value.port + '@' + value.server + '</option>')
            .val(value.id);
        });
      });
    };

    getLicservers();

    $('#do_when').change( function(){
      $('#report_Hz').empty();
      if($(this).val() == 'Once Off'){
        console.log('show nothing');
      } else if ($(this).val() == 'Daily') {
        $('#report_Hz').append(
          $('<div/>', { id:'daily_slider' })
        );
        $('#daily_slider').slider();
      } else if ($(this).val() == 'Weekly') {
        $('#report_Hz').append(
        );
        console.log('show weekly selection');
      } else if ($(this).val() == 'Monthly') {
        $('#report_Hz').append(
        );
        console.log('show monthly selection');
      };
    
    });

    $('#tags_select').change( function(){
      getLicservers();
    });
  });
</script>
<% end %>
