<div class="page-header">
  <h1><%= @report.title %>
    <small> between 
      <%= @report.start_date.strftime('%B %d, %Y') %> and <%= @report.end_date.strftime('%B %d, %Y') %></small>
  </h1>
</div>

<% theBody = YAML::load(@report.body) %>

<% theBody.each do |key,element| %>
  <!-- get each monitored server -->
  <div class="row">
    <div class="span12"> 
      <% licserver = Licserver.find(key) %>
      <p class="lead"><%= licserver.port.to_s + '@' + licserver.server %><p>
      <div class="row">
        <% element.each do |ek, ee| %>
          <!-- elements should have 24 and office hours usage -->
          <div class="span6 pull-left">
          <p><%= ek.to_s.sub(/_/, ' ').titlecase %></p>
          <table class="table sortable">
            <thead>
              <tr>
                <th>Feature</th>
                <th>Seat Count</th>
                <th data-defaultsort="desc">Usage</th>
              </tr>
            </thead>
            <tbody>
              <% ee.each do |stats| %>
                <tr>
                  <td><%= link_to stats[0], licserver_feature_path(licserver.id, stats[0])  %></td>
                  <td><%= stats[1] %></td>
                  <td><%= number_to_percentage(stats[2].to_f*100 / stats[3], format: '%n  %') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              reports_path, :class => 'btn'  %>
</div>
