!!!
%html{ :lang => 'en' }
	%head
		%meta{ :charset => "utf-8"}
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, shirt-to-fit=no"}
		%meta{ :'http-equiv' => "x-ua-compatible", :content => "ie=edge"}

		= stylesheet_link_tag "application", :media => "all", :'data-turbolinks-track' => true
		= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css",
			:integrity => "sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd", :crossorigin => "anonymous"
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= insert_paloma_hook
		= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js",
			:integrity => "sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7", :crossorigin => "anonymous"
		%title #{ yield :head } Fireworks
	%body
		%nav.navbar.nvabar-light.bg-transparent.navbar-fixed-top
			- if ads_user_signed_in? then
				%a.btn.btn-secondary{ :href => root_path } Fireworks
			%ul.nav.navbar-nav.pull-right
				%li.nav-item
					- if ads_user_signed_in? then
						.dropdown
							%a.nav-link.dropdown-toggle.btn.btn-primary{ :href => '#', :'data-toggle' => 'dropdown'} #{current_ads_user.name }
							.dropdown-menu
								%button.dropdown-item{ :type => 'button', :data => { :toggle => 'modal', :target => '#new-licserver-modal'} } New license server...
								.dropdown-divider
								= button_to 'Sign Out', destroy_ads_user_session_path, :method => :delete, :class => 'dropdown-item'
					- else
						%a.btn.btn-secondary.nav-link{ :href => new_ads_user_session_path } Login
		= yield
		%footer
			%p
				Build #{Fireworks::REVISION}
				&copy; Fireworks 2012-2016
				%a{ :href => disclaimer_path } Disclaimer
